@import '~styles/setting.styl'
head_color()
  display flex
  justify-content center
  height 0.86rem
  line-height 0.86rem
  background-color $bgColor
  color #fff      
  font-size 0.32rem

ell()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

weekend_title()
  padding-right: 1.4rem;
  color: #212121;
  font-size: .28rem;
  line-height: .48rem;

weekend_desc()
  padding-right: 1.4rem;
  color: #616161;
  font-size: .24rem;
  line-height: .42rem;